body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 2px;
}

.title {
  margin: 8px;
  background: #e3f4ff;
  font-size: 16px;
  padding: 8px;
}

.content {
  padding: 8px;
  margin: 8px;
  background: #e3f4ff;
}

.button-container {
  margin: 8px;
  background: #e3f4ff;
  padding: 8px;
  text-align: center;
  align-items: center;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  padding: 8px;
  margin: auto;
}